.navHeader {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem 0rem;
  transition: all 0.2s ease-in;
}

.signedInText {
  position: absolute;
  padding-top: 0.8rem;
  z-index: 1;
  line-height: 1.3rem;
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  padding: 10px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  z-index: 10;
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  position: absolute;
  top: 20px;
  right: 30px;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navItems {
  margin-right: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navIcons {
  margin-left: 1rem;
  padding-left: 100px;
  list-style: none;
  display: flex;
}

.navItem {
  display: inline-block;
  margin-left: .75rem;
  font-weight: 500;
}

.navIcon {
  display: inline-block;
  margin-left: .75rem;
  font-size: x-large;
}

#hidden {
  display: none;
}