html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
#inbox-link:hover {
  cursor: pointer;
}
#vehicleInput {
  display: none;
}

footer {
  margin-bottom: 0;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  padding-bottom: 0;
}

.PENDING {
  color: goldenrod;
  font-weight: bolder;
}

.show{
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

#vehicleInput{
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.remove{
color: red;
font-weight: bold;
}

button:hover,
button:focus,
button:active {
  color: #0070f3;
  border-color: #0070f3;
}

.purchase-row{
  display: flex;
  flex-direction: column;
}

.upload-area {
  /* height: 10ch; */
  border: 1px dashed dimgray;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10ch;
}
.image-container {
  display: inline;
  margin-top: 0;
}