html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#inbox-link:hover {
  cursor: pointer;
}

#vehicleInput {
  display: none;
}

footer {
  margin-bottom: 0;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* different status stylings */
.PENDING {
  color: goldenrod;
  font-weight: bold;
}
.ARCHIVED {
  font-weight: bold;
  color: #b2b0b0;
}
.MANAGER_APPROVED {
  font-weight: bold;
  color: greenyellow;
}
.FINANCE_APPROVED {
  font-weight: bold;
  color: greenyellow;
}
.ORG_APPROVED {
  font-weight: bold;
  color: green;
}
.REJECTED {
  font-weight: bold;
  color: red;
}
.REJECTED_EDIT {
  font-weight: bold;
  color: rosybrown;
}

.show {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

#vehicleInput {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.remove {
  color: red;
  font-weight: bold;
}

button {
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
input {
  font-size: large;
  height: 40px;
  padding: 10px;
}
label {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: large;
}

button:hover,
button:focus,
button:active {
  color: #0070f3;
  border-color: #0070f3;
}

.purchase-row {
  display: flex;
  flex-direction: column;
}

.upload-area {
  /* height: 10ch; */
  border: 1px dashed dimgray;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10ch;
}

.image-container {
  display: inline;
  margin-top: 0;
}

.table-cell {
  padding: 20px;
  text-align: center;
  font-size: large;
}

#table-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}