html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#inbox-link:hover {
  cursor: pointer;
}

#vehicleInput {
  display: none;
}

footer {
  margin-bottom: 0;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-around;
  align-items: center;
}

/* add in conditional styling breakpoint for small phones */
nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* add in conditional styling breakpoint for small phones */
header {
  padding: 0 2rem;
}

.mobileSignOut {
  display: none;
  ;
}

@media only screen and (max-width: 782px) {

  header,
  nav {
    display: none;
  }

  .mobileSignOut {
    display: block;
  }

  thead {
    display: none;
  }

  select {
    width: 85%;
  }
}

#mobile-sign-out {
  display: none;
}

@media only screen and (max-width: 512px) {
  #mobile-sign-out {
    display: block;
  }
  #mobile-btn {
    display: none;
  }
}

@media only screen and (max-width: 782px) {
  .navIcons-true {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    background-color: #fff;
    left: 0%;
    top: -10px;
    height: 100vh;
    z-index: 1;
    transition: all var(--duration);
  }

  .navIcons-false {
    display: none;
  }
}

/* different status stylings */
.PENDING {
  color: goldenrod;
  font-weight: bold;
}

.ARCHIVED {
  font-weight: bold;
  color: #b2b0b0;
}

.MANAGER_APPROVED {
  font-weight: bold;
  color: greenyellow;
}

.FINANCE_APPROVED {
  font-weight: bold;
  color: greenyellow;
}

.ORG_APPROVED {
  font-weight: bold;
  color: green;
}

.REJECTED {
  font-weight: bold;
  color: red;
}

.REJECTED_EDIT {
  font-weight: bold;
  color: rosybrown;
}

.show {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}


#vehicleInput {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.remove {
  color: red;
  text-shadow: black 1px 0 5px;
  font-weight: 1000;
  position: relative;
  top: 70px;
  left: 160px;
  z-index: 1;
}

.hr {
  padding: 5px;
  margin: 5px;
  border-bottom: 5px dashed cadetblue;
  opacity: 50%;
  width: 100%;
}

.hr-red {
  padding: 5px;
  margin: 5px;
  border-bottom: 5px dashed rgb(160, 95, 95);
  opacity: 50%;
  width: 100%;
}

button {
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  z-index: 10;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  font-size: large;
  height: 40px;
  padding: 10px;
}

textarea {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

label {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: large;
}

button:hover,
button:focus,
button:active {
  color: #0070f3;
  border-color: #0070f3;
}

.purchase-row {
  display: flex;
  flex-direction: column;
}

.upload-area {
  border: 5px dashed cadetblue;
  opacity: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10ch;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;
  margin-bottom: 100px;
}

.image-item {
  margin: 15px;
  padding: 10px;
  height: 200px;
}

.table-cell {
  padding: 20px;
  text-align: center;
  font-size: large;
}

#table-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.record-link:hover {
  text-decoration: underline;
  color: #0070f3;
}

.upload-link {
  text-decoration: underline;
  color: #0070f3;
}